* {
    margin: 0px;
    padding: 0px;
    /* overflow-y: hidden; */
    font-family: 'jost';
    box-sizing: border-box;
    list-style: none;
}

.main-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
}

/* LOGIN PAGE */
.wrapper {
    position: relative;
    max-width: 470px;
    width: 100%;
    border-radius: 12px;
    padding: 20px
      30px
      120px;
    background: #4070f4;
    box-shadow: 0
      5px
      10px
      rgba(
        0,
        0,
        0,
        0.1
      );
    overflow: hidden;
  }
  .form.login {
    position: absolute;
    left: 50%;
    bottom: -86%;
    transform: translateX(
      -50%
    );
    width: calc(
      100% +
        220px
    );
    padding: 20px
      140px;
    border-radius: 50%;
    height: 100%;
    background: #fff;
    transition: all
      0.6s
      ease;
  }
  .wrapper.active
    .form.login {
    bottom: -15%;
    border-radius: 35%;
    box-shadow: 0 -5px
      10px rgba(0, 0, 0, 0.1);
  }
  .form
    header {
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
  }
  .form.login
    header {
    color: #333;
    opacity: 0.6;
  }
  .wrapper.active
    .form.login
    header {
    opacity: 1;
  }
  .wrapper.active
    .signup
    header {
    opacity: 0.6;
  }
  .wrapper
    form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
  }
  form
    input {
    height: 60px;
    outline: none;
    border: none;
    padding: 0
      15px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    border-radius: 8px;
    background: #fff;
  }
  .form.login
    input {
    border: 1px
      solid
      #aaa;
  }
  .form.login
    input:focus {
    box-shadow: 0
      1px 0
      #ddd;
  }
  form
    .checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .checkbox
    input[type="checkbox"] {
    height: 16px;
    width: 16px;
    accent-color: #fff;
    cursor: pointer;
  }
  form
    .checkbox
    label {
    cursor: pointer;
    color: #fff;
  }
  form a {
    color: #333;
    text-decoration: none;
  }
  form
    a:hover {
    text-decoration: underline;
  }
  form
    input[type="submit"] {
    margin-top: 15px;
    padding: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
  }
  .form.login
    input[type="submit"] {
    background: #4070f4;
    color: #fff;
    border: none;
  }

.logo h1 {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    font-size: 35px;
}

.logo h1::before {
    content: '';
    right: 54px;
    bottom: 4px;
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: blue;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13%;
    height: 100vh;
    border-right: 1px solid rgba(110, 109, 109, 0.397);
}

.navbar li {
    margin-top: 60px;
}

/* 
.navbar li a{
    display: inline-block;
    width: 180px;
    height: 40px;
    text-align: center;
    line-height: 2.3;
    border-radius: 20px;
    background-color: blue;
} */
.navbar li i {
    margin-right: 15px;
    color: rgba(0, 0, 255, 0.925);
}

.navbar li a {
    color: black;
    font-size: 18px;
    text-decoration: none;
}


.login-btns {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.login-btns button {
    margin-top: 100px;
    width: 140px;
    height: 40px;
    font-size: 16px;
    border-radius: 15px;
    outline: none;
    color: black;
    border: 1px solid blue;
    background-color: transparent;

}

/* =============================================================2 */

.right-side-main-content {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 87vw;
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */

}

.top-search-content {
    /* margin-top: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 90px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.397);
    /* background-color: red; */
}

.top-search-content h2 {
    font-size: 35px;
    font-weight: 400;
}

.search-bar {
    width: 280px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid blue;

}

.search-bar input {
    /* text-align: left; */
    width: 85%;
    height: 100%;
    border-radius: 50px;
    padding: 0px 20px;
    outline: none;
    border: none;
}

.search-bar button {
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid blue;
    background-color: transparent;
}

.bottom-main-content {
    margin-top: 20px;
    padding: 15px 40px;
    width: 50%;
    border-right: 1px solid black;
}

.bottom-main-content .img1 {
    width: 90%;
    position: relative;
    height: 200px;
    overflow: hidden;
    border-radius: 60px;
}

.img1 img {
    transition: .5s all;
    height: 100%;
    width: 100%;
}

img:hover {
    transform: scale(1.1);
}

.bottom-main-content .img2 {
    position: relative;
    margin-top: 15px;
    width: 90%;
    height: 220px;
    overflow: hidden;
    border-radius: 60px;
}

.img2 h3 {
    position: absolute;
    right: 40px;
    top: 80px;
    font-size: 35px;
    color: white;
}

.img1 h3 {
    position: absolute;
    left: 40px;
    top: 80px;
    font-size: 35px;
    color: white;
}

.img2 img {
    transition: .5s all;
    height: 100%;
    width: 100%;
}

.down-imgs {
    display: flex;
}

.bottom-main-content .img3 {
    position: relative;
    margin-top: 15px;
    width: 42%;
    height: 310px;
    overflow: hidden;
    border-radius: 60px;
}

.img3 img {
    transition: 1s all;
    width: 100%;
}

.img3 img:hover {
    transform: translateY(-50px);
}

.img3 button {
    cursor: pointer;
    width: 130px;
    height: 35px;
    position: absolute;
    bottom: 50px;
    left: 100px;
    color: white;
    border-radius: 40px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.514);
    transition: .6s all;
}

.bottom-main-content .img4 {
    position: relative;
    margin-top: 15px;
    width: 42%;
    height: 310px;
    overflow: hidden;
    border-radius: 60px;
    margin-left: 30px;
}

.img4 img:hover {
    transform: translateY(-20px);
}

.img4 img {
    transition: 1s all;
    width: 100%;
}

.img4 button {
    cursor: pointer;
    width: 130px;
    height: 35px;
    position: absolute;
    bottom: 50px;
    left: 100px;
    color: white;
    border-radius: 40px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.514);
    transition: .6s all;
}

.img4 button:hover {
    background-color: black;
}

.img3 button:hover {
    background-color: black;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=--= */
.inner-right {
    /* margin-top: 80px; */
    position: absolute;
    top: 90px;
    right: 0;
    height: 100%;
    width: 50%;
    padding: 10px 20px;
    /* background-color: red; */
}

.inner-right-top{
    display: flex;
    gap: 40px;
}
.r-img1 {
    position: relative;
    margin-top: 15px;
    width: 45%;
    height: 390px;
    overflow: hidden;
    border-radius: 60px;

}

.r-img1 img {
    transition: .7s all;
    height: 100%;
    width: 100%;
}

.r-img2 {
    /* background-color:red; */
    position: relative;
    margin-top: 15px;
    width: 45%;
    height: 390px;
    overflow: hidden;
    border-radius: 60px;

}

.r-img2 img {
    transition: .7s all;
    height: 100%;
    width: 100%;
}