* {
    margin: 0px;
    padding: 0px;
    /* overflow-y: hidden; */
    font-family: 'jost';
    box-sizing: border-box;
    list-style: none;
}

.main-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
}

.logo h1 {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    font-size: 35px;
}

.logo h1::before {
    content: '';
    right: 54px;
    bottom: 4px;
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: blue;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13%;
    height: 100vh;
    border-right: 1px solid rgba(110, 109, 109, 0.397);
}

.navbar li {
    margin-top: 60px;
}

/* 
.navbar li a{
    display: inline-block;
    width: 180px;
    height: 40px;
    text-align: center;
    line-height: 2.3;
    border-radius: 20px;
    background-color: blue;
} */
.navbar li i {
    margin-right: 15px;
    color: rgba(0, 0, 255, 0.925);
}

.navbar li a {
    color: black;
    font-size: 18px;
    text-decoration: none;
}


.login-btns {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.login-btns button {
    margin-top: 100px;
    width: 140px;
    height: 40px;
    font-size: 16px;
    border-radius: 15px;
    outline: none;
    color: black;
    border: 1px solid blue;
    background-color: transparent;

}

/* =============================================================2 */

.right-side-main-content {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 87vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.top-search-content {
    /* margin-top: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 90px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.397);
    /* background-color: red; */
}

.top-search-content h2 {
    font-size: 35px;
    font-weight: 400;
}

.search-bar {
    width: 280px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid blue;

}

.search-bar input {
    /* text-align: left; */
    width: 85%;
    height: 100%;
    border-radius: 50px;
    padding: 0px 20px;
    outline: none;
    border: none;
}

.search-bar button {
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid blue;
    background-color: transparent;
}

.bottom-main-content {
    margin-top: 20px;
    padding: 15px 40px;
    width: 50%;
    border-right: 1px solid black;
}

.bottom-main-content .img1 {
    width: 90%;
    position: relative;
    height: 200px;
    overflow: hidden;
    border-radius: 60px;
}

.img1 img {
    transition: .5s all;
    height: 100%;
    width: 100%;
}

img:hover {
    transform: scale(1.1);
}

.bottom-main-content .img2 {
    position: relative;
    margin-top: 15px;
    width: 90%;
    height: 220px;
    overflow: hidden;
    border-radius: 60px;
}

.img2 h3 {
    position: absolute;
    right: 40px;
    top: 80px;
    font-size: 35px;
    color: white;
}

.img1 h3 {
    position: absolute;
    left: 40px;
    top: 80px;
    font-size: 35px;
    color: white;
}

.img2 img {
    transition: .5s all;
    height: 100%;
    width: 100%;
}

.down-imgs {
    display: flex;
}

.bottom-main-content .img3 {
    position: relative;
    margin-top: 15px;
    width: 42%;
    height: 310px;
    overflow: hidden;
    border-radius: 60px;
}

.img3 img {
    transition: 1s all;
    width: 100%;
}

.img3 img:hover {
    transform: translateY(-50px);
}

.img3 button {
    cursor: pointer;
    width: 130px;
    height: 35px;
    position: absolute;
    bottom: 50px;
    left: 100px;
    color: white;
    border-radius: 40px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.514);
    transition: .6s all;
}

.bottom-main-content .img4 {
    position: relative;
    margin-top: 15px;
    width: 42%;
    height: 310px;
    overflow: hidden;
    border-radius: 60px;
    margin-left: 30px;
}

.img4 img:hover {
    transform: translateY(-20px);
}

.img4 img {
    transition: 1s all;
    width: 100%;
}

.img4 button {
    cursor: pointer;
    width: 130px;
    height: 35px;
    position: absolute;
    bottom: 50px;
    left: 100px;
    color: white;
    border-radius: 40px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.514);
    transition: .6s all;
}

.img4 button:hover {
    background-color: black;
}

.img3 button:hover {
    background-color: black;
}

.inner-right{
    margin-top: 20px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background-color: red;
}